.header {
  background: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 4rem;
}

.logo {
  padding: 0.5rem 0;
}

.login {
  align-items: center;
  color: #333;
  display: flex;
}

.login::after {
  content: '';
  background: url('../Assets/usuario.svg') no-repeat center center;
  display: inline-block;
  height: 17px;
  margin-left: 0.5rem;
  position: relative;
  top: -1px;
  width: 14px;
}
